@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* font-family: "lato", sans-serif;
    font-family: "Oswald", sans-serif;
    font-family: "Alegreya", serif; */
    font-family: "Oswald", sans-serif;
    font-family: "lato", sans-serif;
    font-family: "Merriweather", serif;
  }
  body {
    /* bg-[#FFF8F4] */
    background-color: #ffff;
  }
  li {
    @apply py-1 text-sm text-gray-300;
  }
}

@layer components {
  .color-styling {
    @apply w-4 h-4 inline-block ms-1 rounded-full cursor-pointer border-black hover:w-7 hover:transition-[width] hover:duration-200;
  }
  .activeColor {
    @apply border-2 w-7;
  }
}

.active {
  background-color: #002d58;
  color: white;
  border-radius: 10px;
  padding: 3px 10px;
  transition: 0.2s color;
}

.header {
  height: calc(100vh - 100px);
}

.slider-item {
  margin-right: 10px;
}

.slider-item:first-child {
  margin-right: 0;
}

.slider-item:last-child {
  margin-right: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #3a99f3;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
