@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* font-family: "lato", sans-serif;
    font-family: "Oswald", sans-serif;
    font-family: "Alegreya", serif; */
    font-family: "Merriweather", serif;
  }
  body {
    background-color: #e6ddde;
  }
}
@layer components {
  .color-styling {
    @apply w-4 h-4 inline-block ms-1 rounded-full cursor-pointer border-black hover:w-7 hover:transition-[widthge] hover:duration-300;
  }
  .activeColor {
    @apply border-2 w-7;
  }
}

.header {
  height: calc(100vh - 100px);
  /* background-position: center center;
  background-size: cover; */
}
